KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=kwnpBdPr4dvXYuzwchEB9YMpY1aPwuImOPgpIjR8zGIf

KC_DB=postgres
KC_DB_URL_HOST=keycloak-db
KC_DB_URL_PORT=5432
KC_DB_URL_DATABASE=keycloak
KC_DB_USERNAME=keycloak
KC_DB_PASSWORD=password
KC_DB_SCHEMA=public

KC_HTTP_HOST=0.0.0.0
KC_HTTP_ENABLED=false
KC_HTTP_PORT=8282
KC_PROXY=edge
KC_PROXY_ADDRESS_FORWARDING=true
KC_HOSTNAME_URL=https://keycloak.jlab.bio/
KC_HOSTNAME_ADMIN_URL=https://keycloak.jlab.bio
KC_LOG_LEVEL=DEBUG
KC_HOSTNAME_DEBUG=true

JAVA_OPTS_APPEND="-Djava.net.preferIPv4Stack=true"

#KEYCLOAK_DATABASE_VENDOR: POSTGRES
#KEYCLOAK_DATABASE_HOST: keycloak-db
#KEYCLOAK_DATABASE_PORT: 5432
#KEYCLOAK_DATABASE_NAME: keycloak
#KEYCLOAK_DATABASE_USER: keycloak
#KEYCLOAK_DATABASE_PASSWORD: password
#KEYCLOAK_DATABASE_SCHEMA: public
#KEYCLOAK_ADMIN: admin
#KEYCLOAK_ADMIN_PASSWORD: password
#KEYCLOAK_ENABLE_HEALTH_ENDPOINTS: 'true'
#KEYCLOAK_ENABLE_STATISTICS: 'true'
#KC_HOSTNAME: keycloak.jlab.bio
#KC_PROXY: edge
#KC_PROXY_ADDRESS_FORWARDING: 'true'
#KC_HOSTNAME_STRICT_HTTPS: 'true'
#KC_HTTP_ENABLED: 'false'
