# ----------------------------- kubernetes job settings -----------------------------
[kubernetes]
# Mount path for qiita-data directory in kubernetes setup. Must match the
# path set in the qiita.yaml under volumeMounts.
VOLUME_MOUNT_PATH = /qiita_data
# Volume name for qiita-data directory in kubernetes setup. Must match the
# name set in the qiita.yaml under volumeMounts.
VOLUME_NAME = qiita-data

# Name of the persistent volume claim used for qiita-data in kubernetes. Must 
# match the name set in pvc_nfs_qiita.yaml
PVC_NAME = qiita-nfs-pvc

# Pull policy for images used in kubernetes plugin jobs
IMAGE_PULL_POLICY = Always

# Currently not optional. Will be once we switch to the "public" harbor images.
IMAGE_PULL_SECRETS = harbor-tinqiita-registry

# https://harbor.computational.bio.uni-giessen.de/ provides multiple versions of
# the container images. You can here define which tagged version to use
IMAGE_TAG = dev

# Namespace used to send jobs. Must match namespace qiita deployment is running in.
NAMESPACE = default
