-e /q2-feature-table
-e /q2-metadata
-e /q2-mystery-stew
-e /q2-types
-e /q2cli
-e /q2templates
-e /qiime2

pyyaml
decorator
tzlocal
bibtexparser
psutil
flufl.lock
parsl
appdirs
tomlkit
scikit-bio
rnanorm
seaborn
jinja2
ijson
pyhmmer
frictionless
numpy==1.26.4

-e /qtp-biom
-e /qiita-files
-e /qiita_client
